@import "tailwindcss";

@theme inline {
  /* Semantic colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
  --color-border: var(--border);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  /* Personal Theme (Light) */
  :root {
    --background: #ffffff;
    --foreground: #050505;
    --primary: #00bcd4;
    --card: #f9fafb;
    --border: #e5e7eb;
  }

  /* Personal Theme (Dark - Default) */
  .dark {
    --background: #050505;
    --foreground: #f3f4f6;
    --primary: #00f0ff;
    --card: #111111;
    --border: #222222;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
  }
}

@media print {
  :root, .dark {
    --background: #ffffff !important;
    --foreground: #000000 !important;
    --card: #ffffff !important;
    --border: #e5e7eb !important;
  }
  
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}

